$mobile: 520px;
$tablet: 768px;
$tablet-big: 1024px;
$desktop: 1200px;
$desktop--medium: 1920px;
$desktop--full: 2560px;

//:export {
//    mobile: $mobile;
//    tablet: $tablet;
//    tabletBig: $tablet-big;
//    desktop: $desktop;
//    desktopMedium: $desktop--medium;
//    desktopFull: $desktop--full;
//}
