$font-family-inter: var(--font-inter);
$font-weight-normal: 400;
$font-weight-bold: 600;

$font-size-default: 20px;
$font-size-big: 56px;
$font-size-medium: 32px;
$font-size-default-mobile: 14px;
$font-size-big-mobile: 32px;
$font-size-medium-mobile: 18px;
